/*导航样式开始*/
.navbar{
	background-color: #FFFFFF!important;
	color: #79E5C1;
}
.navbar-header span,.navbar-default .navbar-nav>li>a{
	color: #79E5C1;
}
/*导航样式结束*/

/*banner样式开始*/

.about-banner{
	width: 100%;
}
.btn-download{
	margin-left: 70%;
	margin-bottom: 15%!important;
}
/*banner样式结束*/